.container {
  color: grey;
  display: inline-flex;
}

.containerSaving {
  color: black;
}

.saving {
  visibility: visible;
}

.saved {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
